.bean_img {
    display: block;
    margin: 0 auto;
    position: relative;
    max-width: 400px;
    margin: 35px auto;

    &:before {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: white;
        left: 25%;
        top: 50%;
        position: absolute;
    }

    &:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: white;
        right: 25%;
        top: 50%;
        position: absolute;
    }
}