.coffee_item {
    min-height: 355px;
    margin: 70px 0 30px 0;

    &__container {
        width: 880px;
        margin: 0 auto;
    }

    &__promo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    &__img {
        max-width: 392px;
        height: 355px;

    }

    &__content {
        width: 418px;

        h2 {
            text-align: center;
        }

        span {
            font-weight: bold;
        }
    }
}