.bean_img {
    display: block;
    position: relative;
    max-width: 400px;
    min-width: 320px;
    margin: 35px auto;
    text-align: center;

    &:before {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: black;
        left: 25%;
        top: 50%;
        position: absolute;
    }

    &:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: black;
        right: 25%;
        top: 50%;
        position: absolute;
    }
}