.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 384px;
    margin: 0 auto;
    text-decoration: none;
    margin-bottom: 15px;

    &__item {
        text-decoration: none;
        color: white
    }

    &__selected {
        color: gold;
    }
}